@media (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    height: 35px;
  }

  header>span {
    font-size: 1.2rem;
  }

  header nav .buttons {
    font-size: 1rem;
  }

  header nav .acessibilidade span {
    font-size: 0.8rem;
  }

  header nav .tamarana span {
    font-size: 0.8rem;
  }

  header nav .acessoInfos span {
    font-size: 0.8rem;
  }

  header nav .secretaria span {
    font-size: 0.8rem;
  }

  .containerNews {
    height: 800px;
    justify-content: space-between;
  }

  .containerNews .contentTop {
    height: 60%;
    flex-direction: column;
    justify-content: space-between;
  }

  .carrossel {
    width: 100%;
    height: 50%;
    margin-right: 0;
    margin-top: 0;
  }

  .carrossel .circulo {
    width: 100px;
    height: 100px;
  }

  .carrossel span {
    font-size: 1.6rem;
  }

  .filtro strong {
    font-size: 2.6rem;
  }

  .contentTop .lastNews {
    width: 100%;
    height: 50%;
    margin-left: 0;
  }

  .lastNews .boxTop {
    height: 49%;
  }

  .lastNews .filtroLastNews {
    height: 100%;
  }

  .lastNews .boxBottom {
    height: 49%;
  }

  .containerNews .contentBottom {
    width: 100%;
    height: 40%;
    flex-direction: column;
  }

  .contentBottom .top {
    flex-direction: column;
    height: 85%;
    margin-top: 0;
    justify-content: space-between;
  }

  .top .othersNews {
    width: 100%;
    height: 24.5%;
    margin-top: 0;
    margin-left: 0;
    border: 0;
  }

  .othersNews span {
    margin-top: 5px;
  }

  .othersNews p {
    margin-top: 10px;
  }

  .containerNews .bottom {
    height: 15%;
    margin-top: 0;
  }

  .bottom button {
    margin-top: 0px;
  }

  .prefsTV {
    width: 115%;
    height: 450px;
  }

  .prefsTV .bottom {
    height: 8%;
  }

  .banners {
    height: 200px;
    margin-top: 0;
  }

  .banners .container {
    width: 90%;
  }

  footer {
    height: 350px;
  }

  footer .container {
    width: 90%;
  }

  footer .titleFooter strong {
    font-size: 1.6rem;
  }

  footer .options span {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }

  footer .container .bottom span {
    font-size: 1.4rem;
  }
}