section {
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: url('../assets/background4.jpg') no-repeat center;
  background-size: cover;
}

section .filtroBackground {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.filtroBackground .heading {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading .logo {
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading .infos {
  display: flex;
  flex-direction: row;
}

.heading .infos>span {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-right: 15px;
}

.heading .infos .boxInfos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  margin-left: 5px;
}

.heading .infos .boxInfos span {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2px;
  margin-right: 5px;
}